<section class="animated fadeIn">
<h3 id="samples">Things we've made</h3>

<div class="row">

{% for image in site.static_files %}
    {% if image.path contains 'assets/img/samples' %}
      <div class="col s3 m4 l6">
        <img class="responsive-img" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
      </div>
    {% endif %}
{% endfor %}
</div>

</section>

<script>
var options = [
    {selector: '#samples', offset: 50, callback: function() {
      $('#samples').addClass('animated fadeIn').css("opacity", "1");
    } },
    {selector: '#noid', offset: 50, callback: function() {
      $('#noid').addClass('animated fadeIn').css("opacity", "1");
    } }
  ];
  Materialize.scrollFire(options);
</script>
