 <div id="grid-container" class="grid-masonry">
    <div class="grid-sizer"></div>
      {% for image in site.static_files %}
          {% if image.path contains 'assets/img/samples' %}
            <img class="grid-item gallery" data-featherlight="{{ site.baseurl }}{{ image.path }}" src="{{ site.baseurl }}{{ image.path }}" alt="{{image.path}}"/>
          {% endif %}
      {% endfor %}
  </div>

 <!-- <div style="text-align:center;">
   <a class="btn" href="#" id="loadMore" style="color:none;width:10rem;">view More</a>
 </div> -->

<script>
// with jQuery
var $container = $('#grid-container');

// initialize Masonry after all images have loaded
$container.imagesLoaded( function() {
     $container.masonry( {
       itemSelector: '.grid-item',
       columnWidth: '.grid-sizer',
       isFitWidth: true
     });
});
</script>

<script>
$('img.gallery').featherlightGallery({
  previousIcon: '&#9664;',     /* Code that is used as previous icon */
  nextIcon: '&#9654;',         /* Code that is used as next icon */
  galleryFadeIn: 100,          /* fadeIn speed when slide is loaded */
  galleryFadeOut: 300
});
</script>

<!-- <script>
$(function () {
    $(".grid-item").slice(0, 3).show();
    $("#loadMore").on('click', function (e) {
        e.preventDefault();
        $("img:hidden").slice(0, 3).slideDown();
        $('.grid-masonry').masonry({
          itemSelector: '.grid-item',
          columnWidth: '.grid-sizer',
          isFitWidth: true
        });
        if ($("img:hidden").length == 0) {
            $("#load").fadeOut('slow');
        }
        $('html,body').animate({
            scrollTop: $(this).offset().top - 100
        }, 1500);
    });
});
</script> -->
