
<div class="grid-masonry">
   <div class="grid-sizer"></div>
   {% for image in site.static_files %}
       {% if image.path contains 'assets/img/samples' %}
             {% assign title = {{image.path}} | remove: {{image.extname}} | remove: "/assets/img/samples/" %}
             <img class="grid-item" data-featherlight="{{ site.baseurl }}{{ image.path }}" src="{{ site.baseurl }}{{ image.path }}" alt="{{image.path}}"/>
           </div>
       {% endif %}
   {% endfor %}
 </div>




<script>
$('.grid-masonry').masonry({
  itemSelector: '.grid-item',
  columnWidth: '.grid-sizer'
});
</script>
