<section class="animated fadeIn">
    <h1 id="testimonials">What Clients are Saying</h1>
    <p class="flow-text">These are excerpts of reviews left by our clients. Their words, not ours.</p>
    <!-- <div class="row"> -->
    <ul class="scroll">
        {% assign testimonials=site.data.testimonials-short %}
        {% for testimonial in testimonials %}
        <!-- <div class="col s12 m6 l4 "> -->
        <li class="scroll-item">
            {% assign star=testimonial.stars %}
            {% if star==5 %}
            <h2 class="center-align">
                <i class="fa fa-star brand-color" aria-hidden="true"></i>
                <i class="fa fa-star brand-color" aria-hidden="true"></i>
                <i class="fa fa-star brand-color" aria-hidden="true"></i>
                <i class="fa fa-star brand-color" aria-hidden="true"></i>
                <i class="fa fa-star brand-color" aria-hidden="true"></i>
            </h2><br />
            {% endif %}
            {% if star==4 %}
            <h2 class="center-align">
                <i class="fa fa-star brand-color" aria-hidden="true"></i>
                <i class="fa fa-star brand-color" aria-hidden="true"></i>
                <i class="fa fa-star brand-color" aria-hidden="true"></i>
                <i class="fa fa-star brand-color" aria-hidden="true"></i>
                <i class="fa fa-star-o brand-color" aria-hidden="true"></i>
            </h2><br />
            <br />
            {% endif %}
            {% if testimonial.text %}<p class="scroll-text brand-color"><i class="fa fa-quote-left brand-color" aria-hidden="true"></i> {{testimonial.text}}</p>{% endif %}
            {% if testimonial.name %}<p class="scroll-text brand-color center-align">- {{testimonial.name}}{% if testimonial.company %}, {{testimonial.company}}{% endif %}</p>{% endif %}
            {% if testimonial.url %}<p class="scroll-text brand-color center-align"><a href='{{testimonial.url}}'>read full review</a></p>{% endif %}
        </li>
        <!-- </div> -->
        {% endfor %}
        <!-- </div> -->
    </ul>
</section>

<script>
var options = [
    {selector: '#testimonials', offset: 50, callback: function() {
      $('#testimonials').addClass('animated fadeIn').css("opacity", "1");
    } },
    {selector: '#noid', offset: 50, callback: function() {
      $('#noid').addClass('animated fadeIn').css("opacity", "1");
    } }
  ];
  Materialize.scrollFire(options);
</script>
