<section class="animated fadeIn">
  <h3 id="testimonials">What Other's are Saying</h3>
  <div class="row">
    {% assign testimonials=site.data.testimonials %}
    {% for testimonial in testimonials %}
    <div class="col s12 m6 l4">
      <i class="fa fa-quote-left" aria-hidden="true"></i>
      {% capture markdown %}{% include _markdown/_testimonials/{{testimonial.path}}.md %}{% endcapture %}
      {{ markdown | markdownify }}
      {%if testimonial.name %}{{testimonial.name}}{% endif %}
      {%if testimonial.company %}, {{testimonial.company}}{% endif %}
    </div>
      {% endfor %}
  </div>

</section>

<script>
var options = [
    {selector: '#testimonials', offset: 50, callback: function() {
      $('#testimonials').addClass('animated fadeIn').css("opacity", "1");
    } },
    {selector: '#noid', offset: 50, callback: function() {
      $('#noid').addClass('animated fadeIn').css("opacity", "1");
    } }
  ];
  Materialize.scrollFire(options);
</script>
