<section class="animated fadeIn">
<h3 id="testimonials">What Other's are Saying</h3>
<div class="carousel">
  {% assign testimonials=site.data.testimonials %}
  {% for testimonial in testimonials %}
    <a class="carousel-item" href="#{{testimonial.path}}!">
      <blockquote>{% capture markdown %}{% include _markdown/_testimonials/{{testimonial.path}}.md %}{% endcapture %}{{ markdown | markdownify }}
      {%if testimonial.name %}{{testimonial.name}}{% endif %}{%if testimonial.company %}, {{testimonial.company}}{% endif %}</blockquote>
    </a>
    {% endfor %}
</div>

</section>

<script>
$(document).ready(function(){
      $('.carousel').carousel();
    });
</script>

<script>
var options = [
    {selector: '#testimonials', offset: 50, callback: function() {
      $('#testimonials').addClass('animated fadeIn').css("opacity", "1");
    } },
    {selector: '#noid', offset: 50, callback: function() {
      $('#noid').addClass('animated fadeIn').css("opacity", "1");
    } }
  ];
  Materialize.scrollFire(options);
</script>
