<section class="animated fadeIn">
<h1 id="what">what we do</h1>
  <div id="categories" class="row flow-text">
    <p class="flow-text">Get in touch if you need help with:</p>
    <div class="col s12 m6 l4 offset-l1">
      <ul>
        <li><h3><i class="fa fa-fw brand-color-inverse fa-wrench" aria-hidden="true"></i>  Prototyping</h3><li>
        <li><h3><i class="fa fa-fw brand-color-inverse fa-pencil" aria-hidden="true"></i>  Industrial Design</h3><li>
        <li><h3><i class="fa fa-fw brand-color-inverse fa-cogs" aria-hidden="true"></i>  Mechanical Design</h3><li>
        <li><h3><i class="fa fa-fw brand-color-inverse fa-microchip" aria-hidden="true"></i>  Electrical Design</h3><li>
      </ul>
    </div>
    <div class="col s12 m6 l4 offset-l2">
      <ul>
      <li><h3><i class="fa fa-fw brand-color-inverse fa-gamepad" aria-hidden="true"></i>  Consumer Devices</h3><li>
      <li><h3><i class="fa fa-fw brand-color-inverse fa-heartbeat" aria-hidden="true"></i>  Medical Devices</h3><li>
      <li><h3><i class="fa fa-fw brand-color-inverse fa-industry" aria-hidden="true"></i>  Manufacturing Support</h3><li>
      <li><h3><i class="fa fa-fw brand-color-inverse fa-lightbulb-o" aria-hidden="true"></i>  Consulting</h3><li>
    </ul>
    </div>
  </div>
<ul id="id" class="collapsible" data-collapsible="expandable">
  <li class="div-bar">
    <div class="collapsible-header">
      <h2>Industrial Design</h2>
      <span class="flow-text">Industrial Design applies insights into user behavior and culture to create elegant, intuitive products.<br><span style="text-decoration:underline;">read more...</span></span>
    </div>
    <div class="collapsible-body">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <span class="collapsible-header" style="padding-left:2rem;padding-bottom:2rem;">A symphony can only be as good as the sheet music and a product can only be as good as the design intent. We work hard to nail the intent up front since minutes here can translate to hours or days later in the project. To get there quickly we will do strategic research, hand-sketching, and fast mock-ups before spending the time to build out a detailed CAD model or nice-looking prototype.<br><span style="text-decoration:underline;">see our tools &amp; deliverables...</span></span>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s10 offset-s2 m4 offset-m2">
                <span><i class="fa fa-cube" aria-hidden="true"></i> <span style="text-decoration:underline;">deliverables:</span></span>
                <ul>
                  <li>Stakeholder Interviews and Research Findings</li>
                  <li>Handmade Sketches</li>
                  <li>Mood/Style Boards</li>
                  <li>“Duct tape” Mockups</li>
                  <li>“Looks-Like” Prototypes</li>
                  <li>Solidworks CAD with curvature continuous surfacing</li>
                  <li>3D prints</li>
                  <li>Digital renderings</li>
                </ul>
              </div>
              <div class="col s10 offset-s2 m4 offset-m2">
                <span><i class="fa fa-cog" aria-hidden="true"></i> <span style="text-decoration:underline;">tools:</span></span>
                <ul>
                  <li>Cintiq drawing tablet</li>
                  <li>Solidworks 3D</li>
                  <li>Rhinoceros 3D with Grasshopper</li>
                  <li>Adobe Photoshop and Illustrator</li>
                  <li>Keyshot</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>

<ul id="ee" class="collapsible" data-collapsible="expandable">
  <li class="div-bar">
    <span class="collapsible-header">
      <h2>Electrical Engineering</h2>
      <span class="flow-text">Electrical Engineering harnesses semiconductor technologies to give your product a brain.<br><span style="text-decoration:underline;">read more...</span></span>
    </span>
    <div class="collapsible-body">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <span class="collapsible-header" style="padding-left:2rem;padding-bottom:2rem;">Based on product requirements, we carefully choose electrical components that are combined to create schematics. Schematics are the map outlining how each individual component is connected and communicates with one another.  Selection and arrangement of these components in the PCB layout drives the shape, size, and cost of the final unit. We are capable of analog and digital designs and some of our experience includes - power management, internet of things (IoT), system on chip (SOC), wearables, BLE, Wifi, RF, Ultra-Low Power, and sensor based designs.<br><span style="text-decoration:underline;">see our tools &amp; deliverables...</span></span>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s10 offset-s2 m4 offset-m2">
                <span><i class="fa fa-cube" aria-hidden="true"></i> <span style="text-decoration:underline;">deliverables:</span></span>
                <ul>
                  <li>Schematics</li>
                  <li>PCB Layout</li>
                  <li>Gerber Files</li>
                  <li>Firmware Files</li>
                  <li>FCC Certifications</li>
                  <li>Electrical Testing Results</li>
                </ul>
              </div>
              <div class="col s10 offset-s2 m4 offset-m2">
                <span><i class="fa fa-cog" aria-hidden="true"></i> <span style="text-decoration:underline;">tools:</span></span>
                <ul>
                  <li>Altium Designer</li>
                  <li>Spice Simulation</li>
                  <li>Eagle Designer</li>
                  <li>Dev/SDK kits</li>
                  <li>Arduino/Raspberry Pi</li>
                  <li>Breadboards/Protoboards</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>

<ul id="me" class="collapsible" data-collapsible="expandable">
  <li class="div-bar">
    <span class="collapsible-header">
      <h2>Mechanical Engineering</h2>
      <span class="flow-text">Mechanical Engineering builds on principles from physics to answer tangible questions in product development.<br><span style="text-decoration:underline;">read more...</span></span>
    </span>
    <div class="collapsible-body">
      <ul class="collapsible" data-collapsible="expandable">
        <li>
          <span class="collapsible-header" style="padding-left:2rem;padding-bottom:2rem;">There are always a surprising number of details to figure out with any physical product. How long will it last, will it hold up to environmental conditions, are you using the right materials, or could your device be more efficient? Mechanical Engineering draws on knowledge of mechanics of materials and materials science, heat transfer, fluid flow, mechanisms and dynamics, and more to answer practical questions like these in the product development process.<br><span style="text-decoration:underline;">see our tools &amp; deliverables...</span></span>
          <div class="collapsible-body">
            <div class="row">
              <div class="col s10 offset-s2 m4 offset-m2">
                <span><i class="fa fa-cube" aria-hidden="true"></i> <span style="text-decoration:underline;">deliverables:</span></span>
                <ul>
                  <li>Simple Mockups</li>
                  <li>“Works-Like” Prototypes</li>
                  <li>Part Files</li>
                  <li>Part Drawings</li>
                  <li>Assembly Files &amp; Instructions</li>
                  <li>Toleranced Parts</li>
                </ul>
              </div>
              <div class="col s10 offset-s2 m4 offset-m2">
                <span><i class="fa fa-cog" aria-hidden="true"></i> <span style="text-decoration:underline;">tools:</span></span>
                <ul>
                  <li>Pencil &amp; Paper</li>
                  <li>3D Printers</li>
                  <li>SOLIDWORKS 3D CAD</li>
                  <li>SOLIDWORKS Simulation</li>
                  <li>Finite Element Analysis (FEA)</li>
                  <li>Spreadsheets</li>
                  <li>ASME GD&amp;T Y14.5 2009 &amp; other standards</li>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </li>
</ul>

</section>

<script>
var options = [
    {selector: '#what', offset: 50, callback: function() {
      $('#what').addClass('animated fadeIn').css("opacity", "1");
    } },
    {selector: '#categories', offset: 50, callback: function() {
      $('#categories').addClass('animated fadeIn').css("opacity", "1");
    } },
    {selector: '#id', offset: 50, callback: function() {
      $('#id').addClass('animated fadeIn').css("opacity", "1");
    } },
    {selector: '#ee', offset: 50, callback: function() {
      $('#ee').addClass('animated fadeIn').css("opacity", "1");
    } },
    {selector: '#me', offset: 50, callback: function() {
      $('#me').addClass('animated fadeIn').css("opacity", "1");
    } },
  ];
  Materialize.scrollFire(options);
</script>
