<section class="animated fadeIn">
    <h3 id="who">who we are</h3>
    <p class="flow-text">We use mechanical, electrical, and industrial design to prototype and develop products for mass production. We are as crazy about great client experiences as we are about designing disruptive products.</p>
    <p class="flow-text">Get in touch if you need help with:</p>
      <div class="row flow-text">
        <div class="col s12 m6">
          <ul>
            <li><i class="fa brand-color fa-wrench" aria-hidden="true"></i> Prototyping</li>
            <li><i class="fa brand-color fa-paint-brush" aria-hidden="true"></i> Design Concepts</li>
            <li><i class="fa brand-color fa-cogs" aria-hidden="true"></i> Mechanical Design</li>
            <li><i class="fa brand-color fa-power-off" aria-hidden="true"></i> Electrical Design</li>
          </ul>
        </div>
        <div class="col s12 m6">
          <ul>
          <li><i class="fa brand-color fa-gamepad" aria-hidden="true"></i> Consumer Electronics</li>
          <li><i class="fa brand-color fa-heartbeat" aria-hidden="true"></i> Medical Devices</li>
          <li><i class="fa brand-color fa-industry" aria-hidden="true"></i> Manufacturing Support</li>
        </ul>
        </div>
      </div>
    </p>
</section>
