<footer id="footer">
  <div class="container">
    <!-- <div class="valign-wrapper">
    <div class="valign"> -->
    <div class="row" style="text-align:center;">

      <div class="col s4">
        <h5>Who We Help</h5>
        <div style="width:100%;border-top: .25px solid white;"></div>
        <ul style="text-align:left;">
          <li><a href='mailto:team@fractalhardware.com?subject=I am or represent a(n) Company - and Im interested in your services'><i class='fa fa-building fa-fw' aria-hidden='true'></i> Company</a></li>
          <li><a href='mailto:team@fractalhardware.com?subject=I am or represent a(n) Startup - and Im interested in your services'><i class='fa fa-line-chart fa-fw' aria-hidden='true'></i> Startup</a></li>
          <li><a href='mailto:team@fractalhardware.com?subject=I am or represent a(n) Inventor/Innovator - and Im interested in your services'><i class='fa fa-lightbulb-o fa-fw' aria-hidden='true'></i> Inventor/Innovator</a></li>
          <li><a href='mailto:team@fractalhardware.com?subject=I am or represent a(n) Entrepreneur - and Im interested in your services'><i class='fa fa-briefcase fa-fw' aria-hidden='true'></i> Entrepreneur</a></li>        </ul>
      </div>

      <div class="col s4">
        <h5>Contact</h5>
        <div style="width:100%;border-top: .25px solid white;"></div>
        <ul style="text-align:left;">
          <li><i class="fa fa-phone fa-fw" aria-hidden="true"></i> Call
            <ol>
              <li><a href='tel:615-497-1953'><i class='fa fa-phone fa-fw' aria-hidden='true'></i> Evan</a></li>
              <li><a href='tel:615-944-5829'><i class='fa fa-phone fa-fw' aria-hidden='true'></i> Dave</a></li>
              <li><a href='tel:630-485-8482'><i class='fa fa-phone fa-fw' aria-hidden='true'></i> Mitch</a></li>
            </ol>
          </li>
          <li><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Email
            <ol>
              <li><a href='mailto:evan@fractalhardware.com?subject=Hey Evan!'><i class='fa fa-envelope fa-fw' aria-hidden='true'></i> Evan</a></li>
              <li><a href='mailto:dave@fractalhardware.com?subject=Hey Dave!'><i class='fa fa-envelope fa-fw' aria-hidden='true'></i> Dave</a></li>
              <li><a href='mailto:mitch@fractalhardware.com?subject=Hey Mitch!'><i class='fa fa-envelope fa-fw' aria-hidden='true'></i> Mitch</a></li>
            </ol>
          </li>
        </ul>
      </div>

      <div class="col s4">
        <h5>Social</h5>
        <div style="width:100%;border-top: .25px solid white;"></div>
        <ul style="text-align:left;">
          <li><a href="https://www.instagram.com/fractalhardware/"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i> Instagram</a></li>
          <li><a href="https://www.facebook.com/fractalhardware/"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i> Facebook</a></li>
          <li><a href="https://twitter.com/FractalHardware"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i> Twitter</a></li>
          <li><a href="https://www.linkedin.com/company/fractal-hardware"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i> LinkedIn</a></li>
          <li><a href="https://github.com/FractalHardware"><i class="fa fa-github-alt fa-fw" aria-hidden="true"></i> Github</a></li>
        </ul>
      </div>

</div>
</div>
</footer>
