<footer id="footer">
  <div class="container">
    <!-- <div class="valign-wrapper">
    <div class="valign"> -->
    <div class="row">

      <div class="col s12 m4">
        <h5 class="center">Who We Help</h5>
        <div class="eyebrow"></div>
        <ul class="left">
          <li><a href='mailto:team@fractalhardware.com?subject=I am or represent a(n) Company - and Im interested in your services'><i class='fa fa-building fa-fw' aria-hidden='true'></i> Corporations</a></li>
          <li><a href='mailto:team@fractalhardware.com?subject=I am or represent a(n) Startup - and Im interested in your services'><i class='fa fa-line-chart fa-fw' aria-hidden='true'></i> Startups</a></li>
          <li><a href='mailto:team@fractalhardware.com?subject=I am or represent a(n) Entrepreneur - and Im interested in your services'><i class='fa fa-briefcase fa-fw' aria-hidden='true'></i> Entrepreneurs</a></li>
          <li><a href='mailto:team@fractalhardware.com?subject=I am or represent a(n) Innovator - and Im interested in your services'><i class='fa fa-lightbulb-o fa-fw' aria-hidden='true'></i> Innovators</a></li>
          <li><a href='mailto:team@fractalhardware.com?subject=I am or represent a(n) Inventor - and Im interested in your services'><i class='fa fa-cog fa-fw' aria-hidden='true'></i> Inventors</a></li>
        </ul>
      </div>

      <div class="col s12 m4">
        <h5 class="center">Contact</h5>
        <div class="eyebrow"></div>
        <ul class="left">
          <li><i class="fa fa-phone fa-fw" aria-hidden="true"></i> Call
            <ol>
              <li><a href='tel:615-497-1953'><i class='fa fa-phone fa-fw' aria-hidden='true'></i> Evan</a></li>
              <li><a href='tel:615-944-5829'><i class='fa fa-phone fa-fw' aria-hidden='true'></i> Dave</a></li>
              <li><a href='tel:630-485-8482'><i class='fa fa-phone fa-fw' aria-hidden='true'></i> Mitch</a></li>
            </ol>
          </li>
          <li><i class="fa fa-envelope fa-fw" aria-hidden="true"></i> Email
            <ol>
              <li><a href='mailto:evan@fractalhardware.com?subject=Hey Evan!'><i class='fa fa-envelope fa-fw' aria-hidden='true'></i> Evan</a></li>
              <li><a href='mailto:dave@fractalhardware.com?subject=Hey Dave!'><i class='fa fa-envelope fa-fw' aria-hidden='true'></i> Dave</a></li>
              <li><a href='mailto:mitch@fractalhardware.com?subject=Hey Mitch!'><i class='fa fa-envelope fa-fw' aria-hidden='true'></i> Mitch</a></li>
            </ol>
          </li>
        </ul>
      </div>

      <div class="col s12 m4">
        <h5 class="center">Social</h5>
        <div class="eyebrow"></div>
        <ul class="left">
          <li><a href="https://www.instagram.com/fractalhardware/"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i> Instagram</a></li>
          <li><a href="https://www.facebook.com/fractalhardware/"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i> Facebook</a></li>
          <li><a href="https://twitter.com/FractalHardware"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i> Twitter</a></li>
          <li><a href="https://www.linkedin.com/company/fractal-hardware"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i> LinkedIn</a></li>
          <li><a href="https://github.com/FractalHardware"><i class="fa fa-github-alt fa-fw" aria-hidden="true"></i> Github</a></li>
          <li><a href="https://angel.co/fractalhardware"><i class="fa fa-angellist fa-fw" aria-hidden="true"></i> AngelList</a></li>
          <li><a href="https://medium.com/fractalhardware"><i class="fa fa-medium fa-fw" aria-hidden="true"></i> Medium</a></li>
        </ul>
      </div>

    </div>

    <ul class="center">
      <li><span id="tristar"></span></li>
      <li>Made in Tennessee by the folks at {{ site.title }}</a></li>
      <li>{{ site.company }} | {{ site.address }}</li>
      <li><i class="fa fa-copyright"></i> 2016-{{ site.time | date: '%Y' }} {{ site.company }}</li>
    </ul>

  </div>
</footer>
