<div id="sticker">
  <div class="navbar">
    <nav class="nav-color">
      <div class="nav-wrapper">
        <a class="hide-on-med-and-down" href="#splash" style="text-align: left;">
          <img src="/assets/img/logo.svg" style="position:absolute;height:100%;"></img>
        </a>
        <div class="table hide-on-large">
        <ul class="nav-font">
          <li><a href="#one">WHO WE ARE</a></li>
          <li>|</li>
          <li><a href="#two">WHAT WE DO</a></li>
          <li>|</li>
          <li><a href="#three">WORK WITH US</a></li>
        </ul>
      </div>
      </div>
    </nav>
  </div>
</div>

<script>
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>
