{% include tagmanager_body.html %}

<div class="navbar-fixed">
  <nav class="nav-color z-depth-0">
    <div class="nav-wrapper">
      <a href="#!"><img id="navbar-logo" src="/assets/img/black-logo.svg"></img></a>
      <a href="#" data-activates="slide-out" class="button-collapse right show-on-large nav-menu">MENU</a>
      <ul class="side-nav nav-font" id="slide-out">
        <li style="padding-left:5px;">NAVIGATE:</li>
        <li><a href="#who">WHO WE ARE</a></li>
        <li><a href="#what">WHAT WE DO</a></li>
        <li><a href="#meet">MEET THE TEAM</a></li>
        <li><a href="#talk">LET'S TALK</a></li>
        <li><div class="divider"></div></li>
        <li style="padding-left:5px;">CONNECT:</li>
        <li><a href="https://www.instagram.com/fractalhardware/"><span class="fa fa-instagram fa-fw" aria-hidden="true"></span> Instagram</a></li>
        <li><a href="https://www.facebook.com/fractalhardware/"><span class="fa fa-facebook fa-fw" aria-hidden="true"></span> Facebook</a></li>
        <li><a href="https://twitter.com/FractalHardware"><span class="fa fa-twitter fa-fw" aria-hidden="true"></span> Twitter</a></li>
        <li><a href="https://www.linkedin.com/company/fractalhardware"><span class="fa fa-linkedin fa-fw" aria-hidden="true"></span> LinkedIn</a></li>
      </ul>
    </div>
  </nav>
</div>

<script>
$(function() {
  $('a[href*="#"]:not([href="#"])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html, body').animate({
          scrollTop: target.offset().top - 64
        }, 1000);
        $('.button-collapse').sideNav('hide');
        return false;
      }
    }
  });
});
</script>

<script>
$( document ).ready(function(){
  $('.button-collapse').sideNav({
        menuWidth: 200,
        edge: 'right', // <--- CHECK THIS OUT
      }
    );
    $('.collapsible').collapsible();
  })
</script>
