<a name="one"></a>
<div id="open" class="link-padder">

  <div class="container">
    <h2>WHO WE ARE</h2>
    <p class="flow-text">We are designers and engineers who love making hardware products. We team up with companies like yours to develop your ideas from concept to manufacture.</p>
    <!-- <div class="row center" >
      <div class="col s12 m4">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
        </span>
        <h3>IDEATE</h3>
        <p>{% include markdown.html path="ideate.md"%}</p>
      </div>
      <div class="col s12 m4">
        <span class="fa-stack fa-5x" style="position:relative;">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
        <h3>CREATE</h3>
        <p>{% include markdown.html path="create.md"%}</p>
      </div>
      <div class="col s12 m4">
        <span class="fa-stack fa-5x" style="position:relative;">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-check fa-stack-1x fa-inverse"></i>
        </span>
        <h3>VALIDATE</h3>
        <p>{% include markdown.html path="validate.md"%}</p>
      </div>
    </div> -->
  </div>

  <div class="container negative-stack">
    <div class="row center">
      <div class="col s12">
        <span class="fa-stack fa-5x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
        </span>
        <h4>IDEATE</h4>
      </div>
    </div>
    <div class="row center">
      <div class="col s3 offset-s2 hide-on-small-only"><i class="fa fa-4x fa-arrows-h fa-rotate-neg-45"></i></div>
      <div class="col s3 offset-s2 hide-on-small-only"><i class="fa fa-4x fa-arrows-h fa-rotate-45"></i></div>
    </div>
    <div class="row center">
      <div class="col s12 m4">
        <span class="fa-stack fa-5x" style="position:relative;">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-check fa-stack-1x fa-inverse"></i>
        </span>
        <h4>VALIDATE</h4>
      </div>
      <div class="col s4 hide-on-small-only"><i class="fa fa-4x fa-arrows-h" style="padding-top:25%;"></i></div>
      <div class="col s12 m4">
        <span class="fa-stack fa-5x" style="position:relative;">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
        </span>
        <h4>CREATE</h4>
      </div>
    </div>
  </div>

</div>

<div class="container" style="padding:1rem 0 1rem 0;"><hr></div>
