<!-- <div id="open" class="full-screen"> -->
<div id="open">
  <div class="splash-align">
    <h1>WHY FRACTAL</h1>
  </div>
  <div class="container">
    <h4>We believe that people with the passion to see their idea through are the drivers of our economy.</h3>
    <p>By working with an elite and nimble team, you receive transparent and consistent communication, direct and iterative product development, custom testing, advanced design for manufacturing and assembly, and most importantly, a leader. We’ve seen the pitfalls, and we’re here because you have what it takes, your idea can be great, and you can trust us to lead you there.</p>
  </div>
</div>
