<h2>WHO WE ARE</h2>
<p class="flow-text">We are designers and engineers who love making hardware products. Team up with us to develop your ideas from concept to manufacture.</p>
<!-- <div class="row center" >
<div class="col s12 m4">
<span class="fa-stack fa-4x">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
</span>
<h5>IDEATE</h5>
<p>{% include markdown.html path="ideate.md"%}</p>
</div>
<div class="col s12 m4">
<span class="fa-stack fa-4x" style="position:relative;">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
</span>
<h5>CREATE</h5>
<p>{% include markdown.html path="create.md"%}</p>
</div>
<div class="col s12 m4">
<span class="fa-stack fa-4x" style="position:relative;">
<i class="fa fa-circle fa-stack-2x"></i>
<i class="fa fa-check fa-stack-1x fa-inverse"></i>
</span>
<h5>VALIDATE</h5>
<p>{% include markdown.html path="validate.md"%}</p>
</div>
</div> -->

<div class="row center zero-bottom-margin negative-stack">
  <div class="col s12">
    <span class="fa-stack fa-4x">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
    </span>
    <h5 class="zero-bottom-margin">IDEATE</h5>
  </div>
</div>
<div class="row center zero-bottom-margin negative-stack">
  <div class="col s2 offset-s3 hide-on-small-only"><i class="fa fa-3x fa-long-arrow-right fa-rotate-neg-45"></i></div>
  <div class="col s2 offset-s2 hide-on-small-only"><i class="fa fa-3x fa-long-arrow-right fa-rotate-45"></i></div>
</div>
<div class="row center zero-bottom-margin negative-stack">
  <div class="col s12 m3 offset-m1">
    <span class="fa-stack fa-4x" style="position:relative;">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-check fa-stack-1x fa-inverse"></i>
    </span>
    <h5 class="zero-bottom-margin">VALIDATE</h5>
  </div>
  <div class="col s4 hide-on-small-only"><i class="fa fa-3x fa-long-arrow-right fa-rotate-180" style="margin-top:25%;"></i></div>
  <div class="col s12 m3">
    <span class="fa-stack fa-4x" style="position:relative;">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
    </span>
    <h5 class="zero-bottom-margin">CREATE</h5>
  </div>
</div>
