<a name="one"></a>
<div id="people" class="link-padder full-screen">


    <div class="row avatar-row">
      <div class="col s12 m4 avatar-div center">
        <img class="avatar" src="/assets/img/people/dave.png"></img>
      </div>
      <div class="col s12 m8 avatar-div brand-color">
        <p></p>
      </div>
    </div>

    <div class="row avatar-row">
      <div class="col s12 m8 avatar-div brand-color">
        <p></p>
      </div>
      <div class="col s12 m4 avatar-div center">
        <img class="avatar" src="/assets/img/people/evan.png"></img>
      </div>
    </div>

    <div class="row avatar-row">
      <div class="col s12 m4 avatar-div center">
        <img class="avatar" src="/assets/img/people/mitch.png"></img>
      </div>
      <div class="col s12 m8 avatar-div brand-color">
        <p></p>
      </div>
    </div>


</div>

<div class="container" style="padding:3rem 0 3rem 0;"><hr></div>
