<!-- <div id="services" class="full-screen"> -->
<div id="services">

  <div class="splash-align">
    <h1>OUR SERVICES</h1>
  </div>

  <div class="container">

    <div class="row">
      <div class="col s12 m4">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header grey white-text center"><h5 style="margin-top:0;padding-top:10px;">Industrial<br>Design</h5></div>
            <div class="collapsible-body">{% include markdown.html path="industrial.md"%}</div>
          </li>
        </ul>
      </div>

        <div class="col s12 m4">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header grey white-text center"><h5 style="margin-top:0;padding-top:10px;">Electical<br>Engineering</h5></div>
              <div class="collapsible-body">{% include markdown.html path="electrical.md"%}</div>
            </li>
          </ul>
        </div>

        <div class="col s12 m4">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header grey white-text center"><h5 style="margin-top:0;padding-top:10px;">Mechanical<br>Engineering</h5></div>
              <div class="collapsible-body">{% include markdown.html path="mechanical.md"%}</div>
            </li>
          </ul>
        </div>
        </div>

        <div class="row">

      <div class="col s12 m4">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header grey white-text center"><h5 style="margin-top:0;padding-top:10px;">Prototyping<br>Products</h5></div>
            <div class="collapsible-body">{% include markdown.html path="prototype.md"%}</div>
          </li>
        </ul>
      </div>

    <div class="col s12 m4">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header grey white-text center"><h5 style="margin-top:0;padding-top:10px;">3D<br>CAD</h5></div>
          <div class="collapsible-body">{% include markdown.html path="cad.md"%}</div>
        </li>
      </ul>
    </div>


    <div class="col s12 m4">
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header grey white-text center"><h5 style="margin-top:0;padding-top:10px;">Firmware<br>Design</h5></div>
          <div class="collapsible-body">{% include markdown.html path="firmware.md"%}</div>
        </li>
      </ul>
    </div>
  </div>


  <div class="row">
      <div class="col s12 m4">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header grey white-text center"><h5 style="margin-top:0;padding-top:10px;">Design for<br>Manufacturing</h5></div>
            <div class="collapsible-body">{% include markdown.html path="dfma.md"%}</div>
          </li>
        </ul>
      </div>

      <div class="col s12 m4">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header grey white-text center"><h5 style="margin-top:0;padding-top:10px;">Custom<br>Testing</h5></div>
            <div class="collapsible-body">{% include markdown.html path="testing.md"%}</div>
          </li>
        </ul>
      </div>

      <div class="col s12 m4">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header grey white-text center"><h5 style="margin-top:0;padding-top:10px;">Manufacturing<br>Network</h5></div>
            <div class="collapsible-body">{% include markdown.html path="manufacturing.md"%}</div>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>
