<h2>WHAT WE DO</h2>
<div class="row zero-bottom-margin">
  <div class="col s12">
    <ul class="collapsible popout" data-collapsible="accordion" style="margin-bottom:0;">
      <!-- Industrial Design -->
      <li class="z-depth-1">
        <div class="collapsible-header brand-color">
          <h4 class="center">Industrial Design</h4>
          <p class="popout-subtext">Industrial Design applies insights into user behavior and culture to create elegant, intuitive product solutions.</p>
          <p class="small-paragraph center"><em>read more...</em></p>

        </div>
        <div class="collapsible-body" style="padding-bottom:5px;">
          <blockquote style="margin-left: 10px;">A symphony can only be as good as the sheet music and a product can only be as good as the design intent. We work hard to nail the intent up front since minutes here can translate to hours or days later in the project. To get there quickly we will do strategic research, hand-sketching, and fast mock-ups before spending the time to build out a detailed CAD model or nice-looking prototype.</blockquote>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <blockquote style="margin-left: 10px;" class="collapsible-header"><em>see our tools &amp; deliverables...</em></blockquote>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col s12 m6">
                    <blockquote style="margin-left: 10px;" class="collapsible-header"><i class="fa fa-cube" aria-hidden="true"></i> <span style="text-decoration:underline;">deliverables:</span>
                      <ul>
                        <li>Stakeholder Interviews and Research Findings</li>
                        <li>Handmade Sketches</li>
                        <li>Mood/Style Boards</li>``
                        <li>“Duct tape” Mockups</li>
                        <li>“Looks-Like” Prototypes</li>
                        <li>Solidworks CAD with curvature continuous surfacing</li>
                        <li>3D prints</li>
                        <li>Digital renderings</li>
                      </ul>
                    </blockquote>
                  </div>
                  <div class="col s12 m6">
                    <blockquote style="margin-left: 10px;" class="collapsible-header"><i class="fa fa-cog" aria-hidden="true"></i> <span style="text-decoration:underline;">tools:</span>
                      <ul>
                        <li>Cintiq drawing tablet</li>
                        <li>Solidworks 3D</li>
                        <li>Rhinoceros 3D with Grasshopper</li>
                        <li>Adobe Photoshop and Illustrator</li>
                        <li>Keyshot</li>
                      </ul>
                    </blockquote>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <!-- Spacer -->
      <li class="no-select z-depth-0" style="padding: 10px;"></li>
      <!-- Electrical Engineering -->
      <li class="z-depth-1">
        <div class="collapsible-header brand-color">
          <h4 class="center">Electrical Engineering</h4>
          <p class="small-paragraph popout-subtext">Electrical Engineering harnesses semiconductor technologies to give your product a brain.</p>
          <p class="small-paragraph center"><em>read more...</em></p>

        </div>
        <div class="collapsible-body" style="padding-bottom:5px;">
          <blockquote style="margin-left: 10px;">Based on product requirements, we carefully choose electrical components that are combined to create schematics. Schematics are the map outlining how each individual component is connected and communicates with one another.  Selection and arrangement of these components in the PCB layout drives the shape, size, and cost of the final unit. We are capable of analog and digital designs and some of our experience includes - power management, internet of things (IoT), system on chip (SOC), wearables, BLE, Wifi, RF, Ultra-Low Power, and sensor based designs.</blockquote>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <blockquote style="margin-left: 10px;" class="collapsible-header"><em>see our tools &amp; deliverables...</em></blockquote>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col s12 m6">
                    <blockquote style="margin-left: 10px;" class="collapsible-header"><i class="fa fa-cube" aria-hidden="true"></i> <span style="text-decoration:underline;">deliverables:</span>
                      <ul>
                        <li>Schematics</li>
                        <li>PCB Layout</li>
                        <li>Gerber Files</li>
                        <li>Firmware Files</li>
                        <li>FCC Certifications</li>
                        <li>Electrical Testing Results</li>
                      </ul>
                    </blockquote>
                  </div>
                  <div class="col s12 m6">
                    <blockquote style="margin-left: 10px;" class="collapsible-header"><i class="fa fa-cog" aria-hidden="true"></i> <span style="text-decoration:underline;">tools:</span>
                      <ul>
                        <li>Altium Designer</li>
                        <li>Spice Simulation</li>
                        <li>Eagle Designer</li>
                        <li>Dev/SDK kits</li>
                        <li>Arduino/Raspberry Pi</li>
                        <li>Breadboards/Protoboards</li>
                      </ul>
                    </blockquote>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
      <!-- Spacer -->
      <li class="no-select z-depth-0" style="padding: 10px;"></li>
      <!-- Mechanical Engineering -->
      <li class="z-depth-1">
        <div class="collapsible-header brand-color">
          <h4 class="center">Mechanical Engineering</h4>
          <p class="small-paragraph popout-subtext">Mechanical Engineering builds on principles from physics to answer tangible questions in product development.</p>
          <p class="small-paragraph center"><em>read more...</em></p>

        </div>
        <div class="collapsible-body" style="padding-bottom:5px;">
          <blockquote style="margin-left: 10px;">There are always a surprising number of details to figure out with any physical product. How long will it last, will it hold up to environmental conditions, are you using the right materials, or could your device be more efficient? Mechanical Engineering draws on knowledge of mechanics of materials and materials science, heat transfer, fluid flow, mechanisms and dynamics, and more to answer practical questions like these in the product development process.</blockquote>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <blockquote style="margin-left: 10px;" class="collapsible-header"><em>see our tools &amp; deliverables...</em></blockquote>
              <div class="collapsible-body">
                <div class="row">
                  <div class="col s12 m6">
                    <blockquote style="margin-left: 10px;" class="collapsible-header"><i class="fa fa-cube" aria-hidden="true"></i> <span style="text-decoration:underline;">deliverables:</span>
                      <ul>
                        <li>“Duct Tape” Mockups</li>
                        <li>“Works-Like” Prototypes</li>
                        <li>Part Files (.STEP/.IGES/.x_t)</li>
                        <li>Part Drawings (PDF/DXF)</li>
                        <li>Assembly Files &amp; Instructions</li>
                        <li>Toleranced Parts</li>
                      </ul>
                    </blockquote>
                  </div>
                  <div class="col s12 m6">
                    <blockquote style="margin-left: 10px;" class="collapsible-header"><i class="fa fa-cog" aria-hidden="true"></i> <span style="text-decoration:underline;">tools:</span>
                      <ul>
                        <li>Pencil &amp; Paper</li>
                        <li>3D Printers</li>
                        <li>SOLIDWORKS 3D CAD</li>
                        <li>SOLIDWORKS Simulation</li>
                        <li>Finite Element Analysis (FEA)</li>
                        <li>Spreadsheets</li>
                        <li>ASME GD&amp;T Y14.5 2009 &amp; other standards</li>
                      </ul>
                    </blockquote>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
