<a name="two"></a>
<div id="services" class="link-padder">

  <div class="splash-align">
    <h1>OUR SERVICES</h1>
  </div>

  <div class="container">
        <ul class="collapsible popout li-padder" data-collapsible="accordion">
          <li class="z-depth-0">
            <div class="collapsible-header brand-color white-text center">Industrial Design</div>
            <div class="collapsible-body">{% include markdown.html path="industrial.md"%}</div>
          </li>
          <li class="z-depth-0">
            <div class="collapsible-header brand-color white-text center">Electrical Engineering</div>
            <div class="collapsible-body">{% include markdown.html path="electrical.md"%}</div>
          </li>
          <li class="z-depth-0">
            <div class="collapsible-header brand-color white-text center">Mechanical Engineering</div>
            <div class="collapsible-body">{% include markdown.html path="mechanical.md"%}</div>
          </li>
        </ul>
  </div>
</div>

<div class="container" style="padding:3rem 0 3rem 0;"><hr></div>
