<a name="one"></a>
<div class="animated fadeIn">
  <!-- <div class="container"> -->
    <h3>who we are</h3>
    <p class="flow-text">We are designers and engineers who love making products. Team up with us to develop your ideas from concept to manufacture.</p>

    <div class="center" id="vin">
      <img id="loopGif" src="/assets/img/vin.gif" style="max-width:90%;"></img>
    </div>
  <!-- </div> -->

</div>

<script>
setInterval(function() {
    var myImageElement = document.getElementById('loopGif');
    myImageElement.src = '/assets/img/vin.gif?rand=' + Math.random();
}, 22000);
</script>
