/* Styles */
  html,body {
  height:100%;
  margin:0;
}

.full-screen {
  height:100%;
  min-height:100%;/*for mozilla*/
}

html>body .full-screen {
  height:auto;
}

#splash {
  text-align: center;
  position: relative;
  background: url(/assets/img/splash.svg) center center no-repeat $brand-color;
  background-size: $splash-width $splash-width, contain;
}

.splash-align {
  margin: 0% $splash-align 0% $splash-align;
}

#splash-button {
  padding-right: 2.5rem;
  height: 10%;
  width: 100%;
  position: absolute;
  bottom: 2rem;
}

.bounce {
  -webkit-animation-name: bounce;
	-moz-animation-name: bounce;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
	-webkit-animation-iteration-count: infinite;
	-moz-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-moz-animation-direction: alternate;
	-webkit-animation-timing-function: eaze-in-out;
	-moz-animation-timing-function: eaze-in-out;
}
@-webkit-keyframes bounce {
	from { top:1em; }
	to { top:2em; }
}
@-moz-keyframes bounce {
	from { top:1em; }
	to { top:2em; }
}

#open {
  background: $background-color;
  // border-bottom:.25px solid #DCDCDC;
  // border-top:.25px solid #DCDCDC;
}

#services {
  background: $background-color;
  // color: $background-color;
  // border-bottom:.25px solid #DCDCDC;
  // border-top:.25px solid #DCDCDC;
}

#footer {
  padding-top: 50px;
  background: $brand-color;
  padding-bottom: 5px;
  color: $background-color;
  a {
    @extend .white-text;
  }
}

#tristar {
  height: 18px;
  display: inline;
  vertical-align: top;
  content: url(/assets/img/tristar.svg);
}

.white-link {
  @extend .white-text;
}

.eyebrow {
  width:100%;
  border-top: .25px solid white;
  color: $background-color;
  height: inherit;
}

#sticker {
  z-index: 9999;
}

.negative-stack {
  position:relative;
  z-index:-1;
}

.inline-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline;
    }
}
