/* Styles */
  html,body {
  height:100%;
  margin:0;
  background: $background-color;
}

.full-screen {
  height:100%;
  min-height:100%;/*for mozilla*/
}

html>body .full-screen, .fullscreen-top {
  height:auto;
}

.member-name {
  border-bottom: 0.25rem solid $brand-color;
}

.member-photo {
  max-width:175px;
}

$member-bio-height: 350px;

.member-bio {
  background: #fff;
  position:absolute;
  left:10%;
  right:10%;
  height:$member-bio-height;
  overflow:scroll;
  p {
    margin: 1rem auto;
    padding: 0;
  }
}

.member-bio-background {
  height: $member-bio-height;
}

.member-list {
  width:100%;
  @media #{$medium-and-up} {
    width:33%;
    float:left;
    display:block;
  }
}

.member-contact {
  color: $brand-color;
  margin: 0 1rem;
  a {
    color: $brand-color;
  }
}

.div-bar {
  border-left: 0.25rem solid $brand-color;
  margin: 2rem auto;
}

.animated {
  -webkit-animation-duration: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}

#meet, #reviews, #what, #categories #id, #ee, #me, #members, #contact-row, #footer-row, #credits {
  opacity:0;
}

.iframe-wrapper  {width:100%;margin:0 auto;background:#CCC}
.h_iframe        {position:relative;}
.h_iframe .ratio {display:block;width:100%;height:auto;}
.h_iframe iframe {position:absolute;top:0;left:0;width:100%; height:100%;}

.brand-color {
  background: $brand-color;
  color: $background-color;
}

.brand-color-inverse {
  // background: $background-color;
  color: $brand-color;
}

#footer {
  padding-top: 1rem;
  color: $background-color;
  background: $brand-color;
  padding-bottom: 0.25rem;
  a {
    @extend .white-text;
  }
}

#tristar {
  height: 2rem;
  display: inline;
  vertical-align: top;
  margin-bottom:1rem;
  content: url(asset_path('tristar.svg'));
}


.list-left {
  width: 50%;
  float: left;
  text-align: left;
}

.list-right {
  width: 50%;
  float: right;
  text-align: left;
}

.eyebrow {
  width:100%;
  border-bottom: .25px solid white;
  color: $background-color;
  height: inherit;
}

.negative-stack {
   position:relative;
   z-index:-1;
}

.nav-color {
  background-color: white;
  opacity:0.95;
}

.nav-menu {
  color:$brand-color;
  margin-right:1rem;
  top: 50%;
  transform: translateY(-50%);
}

.nav-font {
  color: $brand-color;
  a {
    color:$brand-color;
  }
}

#navbar-logo {
  position:absolute;
  height: $navbar-height-mobile*.75;
  padding-left: $navbar-height-mobile*.25;
  margin-top: $navbar-height-mobile*.125;
  margin-bottom: $navbar-height-mobile*.125;
  @media #{$medium-and-up} {
    height: $navbar-height*.75;
    padding-left: $navbar-height*.5;
    margin-top: $navbar-height*.125;
    margin-bottom: $navbar-height*.125;

  }
}

.zero-bottom-margin {
   margin-bottom:0;
}

.inline-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      display: inline;
    }
}

.round-corners {
  border: 2px solid white;
  border-radius: 10px;
}

.button-hover-dark {
  input:hover {
   background-color: black;
 }
}

.calendly-badge-widget {
  border: 2.5px solid white;
  border-radius: 22.5px;
}

.calendly-badge-content {
  font-family: $head-font !important;
}


// Unequal Height Grid
@mixin column-count($ct) {
  -webkit-column-count: $ct;
  -moz-column-count: $ct;
  column-count: $ct;
}

.cards-container {
  column-break-inside: avoid;
  .card {
    display: inline-block;
    overflow: visible;
  }
}

@media #{$small-and-down} {
  .cards-container {
    @include column-count(1);
  }
}

@media #{$medium-and-up} {
  .cards-container {
    @include column-count(2);
  }
}

@media #{$large-and-up} {
  .cards-container {
    @include column-count(3);
  }
}

// MASONRY
.grid-masonry {
  // background: #EEE;
  /* center */
  margin: 0 auto;
}

/* clearfix */
.grid-masonry:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */
.grid-sizer,
.grid-item {
  // display:none;
  width: 33%;
  height: auto;
  float: left;
  border: 2px solid white;
  border-radius: 5px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media #{$small-and-down} {
  .grid-sizer,.grid-item {
    width: 100%;
  }
}

@media #{$medium-only} {
  .grid-sizer,.grid-item {
    width: 50%;
  }
}

.boxes {
    margin: 0 auto;
    text-align: center;
    p {
        margin: 0 auto;
    }
    background-color: $brand-color;
    border: 1px solid $brand-color;
    border-radius: 5px;
    min-height: 250px;
    max-width: 800px;
    color: white;
    i, a {
        color: white;
    }
    a:hover {
        background: black;
    }
    a:visited {
        background: $brand-color;
    }
}
