@charset "utf-8";
// @import "https://fonts.googleapis.com/css?family=Roboto:300|Source+Sans+Pro:300|Source+Code+Pro:300";
@import "https://fonts.googleapis.com/css?family=Roboto:300|Source+Sans+Pro:300|Source+Sans+Pro:300";
@import 'font-awesome-sprockets';
@import 'font-awesome';

// Variables //
$brand-color: #637484;
$background-color: #ffffff;
$text-color: #dddddd;
$link-color: #4078c0;

$head-font: "Roboto";
$head-font-weight: 300;
$head-font-light: 300;
$body-font: "Source Sans Pro";
// $body-font: "Source Code Pro";
$body-font-weight: 300;

// $splash-width: 75%;
// $splash-align: (100-$splash-width)/2;

$avatar-size: 10rem;

// Import MaterializeCSS //
// @import "materialize/prefixer";
@import "materialize/mixins";
@import "materialize/color";
@import "materialize/variables";
@import "materialize/normalize";
@import "materialize/global";
// @import "materialize/icons-material-design";
@import "materialize/grid";
@import "materialize/navbar";
// @import "materialize/roboto";
@import "materialize/typography";
@import "materialize/cards";
// @import "materialize/toast";
@import "materialize/tabs";
// @import "materialize/tooltip";
@import "materialize/buttons";
@import "materialize/dropdown";
// @import "materialize/waves";
@import "materialize/modal";
@import "materialize/collapsible";
// @import "materialize/chips";
// @import "materialize/materialbox";
@import "materialize/forms/forms";
// @import "materialize/table_of_contents";
@import "materialize/sideNav";
// @import "materialize/preloader";
// @import "materialize/slider";
// @import "materialize/carousel";
// @import "materialize/date_picker/default";
// @import "materialize/date_picker/default.date";
// @import "materialize/date_picker/default.time";

// Import Featherlight //
@import "featherlight/_featherlight.scss";
@import "featherlight/_featherlightgallery.scss";

// Import Custom //
@import "custom";
