---
layout: null
---
@charset "utf-8";
@import "https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro";

// Variables //
$brand-color: #F0533C;
$background-color: #ffffff;
$text-color: #dddddd;
$link-color: #4078c0;

$head-font: "Roboto";
$body-font: "Source Code Pro";

$splash-width: 75%;
$splash-align: (100-$splash-width)/2;

$avatar-size: 10rem;

// Import MaterializeCSS //
// Mixins //
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";
// Variables //
@import "components/variables";
// Reset //
@import "components/normalize";
// Components //
@import "components/global";
// @import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
// @import "components/roboto";
@import "components/typography";
@import "components/cards";
// @import "components/toast";
@import "components/tabs";
// @import "components/tooltip";
@import "components/buttons";
// @import "components/dropdown";
// @import "components/waves";
// @import "components/modal";
@import "components/collapsible";
// @import "components/chips";
// @import "components/materialbox";
@import "components/forms/forms";
// @import "components/table_of_contents";
// @import "components/sideNav";
// @import "components/preloader";
// @import "components/slider";
// @import "components/carousel";
// @import "components/date_picker/default";
// @import "components/date_picker/default.date";
// @import "components/date_picker/default.time";


// Import Custom //
@import "custom";
