<section class="animated fadeIn">
    <div id="reviews">
        <h1 id="clients">What Clients Say</h1>
        <p class="flow-text">These are excerpts of reviews from our clients. Scroll right to read more. Their words, not ours.</p>
        <ul class="scroll">
            {% assign testimonials=site.data.testimonials-short %}
            {% for testimonial in testimonials %}
            <li class="scroll-item">
                {% assign star=testimonial.stars %}
                {% if star==5 %}
                <h2 class="center-align">
                    <i class="fal fa-star brand-color" aria-hidden="true"></i>
                    <i class="fal fa-star brand-color" aria-hidden="true"></i>
                    <i class="fal fa-star brand-color" aria-hidden="true"></i>
                    <i class="fal fa-star brand-color" aria-hidden="true"></i>
                    <i class="fal fa-star brand-color" aria-hidden="true"></i>
                </h2>
                {% endif %}
                {% if star==4 %}
                <h2 class="center-align">
                    <i class="fal fa-star brand-color" aria-hidden="true"></i>
                    <i class="fal fa-star brand-color" aria-hidden="true"></i>
                    <i class="fal fa-star brand-color" aria-hidden="true"></i>
                    <i class="fal fa-star brand-color" aria-hidden="true"></i>
                    <i class="fal fa-star-o brand-color" aria-hidden="true"></i>
                </h2>
                {% endif %}
                {% if testimonial.text %}<p class="scroll-text brand-color"><i class="fal fa-quote-left brand-color" aria-hidden="true"></i> {{testimonial.text}}</p>{% endif %}
                {% if testimonial.name %}<p class="scroll-text brand-color center-align">- {{testimonial.name}}{% if testimonial.company %}, {{testimonial.company}}{% endif %}</p>{% endif %}
                {% if testimonial.url %}<p class="scroll-text brand-color center-align"><a href='{{testimonial.url}}'>read full review</a></p>{% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

<script>
var options = [
    {selector: '#reviews', offset: 50, callback: function() {
      $('#reviews').addClass('animated fadeIn').css("opacity", "1");
    } },
  ];
  Materialize.scrollFire(options);
</script>
