<div id="grid-container" class="grid-masonry">
    <div class="grid-sizer"></div>
    {% assign samples=site.data.samples %}
    {% for sample in samples %}
    <img class="grid-item gallery" onClick="fbq('track', 'ViewContent', {content_type: 'image', content_name: '{{sample.file}}',}););" data-featherlight="{% asset samples/{{sample.file}} @path %}" src="{% asset samples/{{sample.file}} @path %}" alt="{{sample.alt}}"/>
    {% endfor %}
</div>

<div class="center" style="margin:15px 0px 15px 0px">
    <a class="center" href="https://instagram.com/fractalhardware">
        <div class="brand-color btn button-hover-dark">
            See More Work <i class="fab fa-instagram" aria-hidden="true"></i>
        </div></a>
</div>


<script>
// with jQuery
var $container = $('#grid-container');

// initialize Masonry after all images have loaded
$container.imagesLoaded( function() {
    $container.masonry( {
        itemSelector: '.grid-item',
        columnWidth: '.grid-sizer',
        isFitWidth: true
    });
});
</script>

<script>
$('img.gallery').featherlightGallery({
    previousIcon: '&#9664;',     /* Code that is used as previous icon */
    nextIcon: '&#9654;',         /* Code that is used as next icon */
    galleryFadeIn: 100,          /* fadeIn speed when slide is loaded */
    galleryFadeOut: 300
});
</script>
