<h3 id="meet">meet the team</h3>
<div id="members" class="row avatar-row">
  {% assign team=site.data.team %}
  <ul class="collapsible" data-collapsible="accordion">
    {% for member in team %}
    <li class="member-list">
      <!-- <div class="col s12 m4"> -->
        <div class="collapsible-header center">
          <img class="circle member-photo" src="/assets/img/portraits/{{member.photo}}"></img>
          <h5 class="member-name">{{member.name}}</h5>
        </div>
        <div class="collapsible-body">
          <!-- <div class="center">
            <h6>Contact {{member.name | truncatewords: 1, ""}}</h6>
            <a class="member-contact" href="tel:{{member.phone}}"><i class="fal fa-phone" aria-hidden="true"></i> call</a>
            <a class="member-contact" href="mailto:{{member.email}}"><i class="fal fa-envelope" aria-hidden="true"></i> email</a>
          </div> -->
          <div class="member-bio">
            {% capture markdown %}{% include _markdown/{{member.bio}} %}{% endcapture %}{{ markdown | markdownify }}
          </div>
          <div class="member-bio-background"></div>
        </div>
      <!-- </div> -->
    </li>
    {% endfor %}
  </ul>
</div>

<script>
var options = [
    {selector: '#meet', offset: 50, callback: function() {
      $('#meet').addClass('animated fadeIn').css("opacity", "1");
    } },
    {selector: '#members', offset: 50, callback: function() {
      $('#members').addClass('animated fadeIn').css("opacity", "1");
    } }
  ];
  Materialize.scrollFire(options);
</script>
